version: '3'
services:
  postgres-inside:
    container_name: postgres-inside
    image: postgres
    environment:
      POSTGES_DB: postgres-inside
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: bestsecure
      PGDATA: /data/postgres
    volumes:
    - ./inside-project/postgres:/data/postgres
    expose:
      - "5555"
    ports:
    - "5555:5555"
    command: -p 5555
    restart: unless-stopped

  inside-app:
    container_name: inside-app
    image: zakharovre/inside-project:latest
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-inside:5555/postgres?currentSchema=public
    depends_on:
      - postgres-inside
    expose:
      - "8081"
    ports:
      - "8081:8081"
